h1, h2, h3, h4, h5, h6
  font-family: "Proxima", "Helvetica Neue", "Helvetica", Arial, sans-serif
  font-weight: normal

h3
  margin-bottom: 0

h4
  font-size: 2.4rem

h5
  font-size: 1.8rem

h6
  font-size: 1.5rem
  line-height: 1

p
  line-height: 20px
  font-size: 1.3rem

.row
  max-width: 1200px

strong
  font-weight: 600

.button.nice
  background-image: url('images/button-gloss.png?1309531891')

.button.blue
  background-color: #00a5ff

a
  color: #00a5ff

a:hover
  color: #0084cc

.light-weight
  font-weight: 300

.normal-weight
  font-weight: normal

.footer
  margin-top: 85px

#zurBar
  background: #222222
  border-bottom: solid 4px #00a5ff
  padding: 15px 20px 13px 20px

@media handheldonly screen and (max-width: 767px)
  #zurBar
    padding: 15px 0px 13px 0px

#zurBar h1, #zurBar h2
  margin-bottom: 0
  line-height: 1

#zurBar h1
  color: white
  font-size: 1.6rem
  font-weight: bold

#zurBar h1 a
  color: #fff

#zurBar strong
  display: block
  margin: 0
  padding: 0
  height: 14px
  line-height: 14px
  position: relative
  bottom: 4px

#zurBar strong a
  line-height: 14px
  color: #fff
  font-weight: 500
  padding-right: 12px

#zurBar strong a.button
  padding: 4px 10px
  font-weight: bold

#caseStudies h4
  color: #7b7b7b

.frame
  border: 1px solid #ddd
  display: block

.frame img
  display: block

.frame + p
  margin-top: 4px

#mainDownload
  position: relative

#mainDownload img
  position: absolute
  right: -84px
  top: -26px
  margin: 0
  padding: 0

#mainDownload:hover, #mainDownload:focus
  overflow: visible


.index_bullets
  margin: 0px 10px
  padding 0px
  li
    color: #000
    margin: 0px 0px 5px 0px
    padding: 0px

#insideContainer
  z-index: 100

#insideContainer nav ul
  float: right
  position: relative
  top: 20px

#insideContainer nav ul li
  float: left
  padding-top: 10px
  margin-left: 40px

#insideContainer nav ul li a
  font-weight: bold
  border-bottom: 1px dotted #ddd

#insideContainer nav ul li.current a
  color: #777

#insideContainer nav ul li .button
  position: relative
  top: -7px
  color: white
  padding-top: 10px

#insideContainer a.back
  height: 20px
  margin-bottom: 30px

.case_studies
  img
    border: 1px solid #e9e9e9
    height: 153px
    width: 100%
    overflow: hidden

.footer_container
  padding-top: 40px
  background-color: #ededed;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(70%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #ededed, #ffffff 70%, #ffffff);
  background-image: linear-gradient(top, #ededed, #ffffff 70%, #ffffff);

#updates
  margin-bottom: 60px
  border-bottom: solid 1px #e0e0e0
  border-top: solid 1px #e0e0e0
  border-right: solid 1px #e0e0e0
  background: #fff

#updates div.two.columns
  background-image: linear-gradient(top, #b7b7b7, #a6a6a6)
  background: -ms-linear-gradient(top, #b7b7b7 0%,#a6a6a6 100%)
  border: solid 1px #949494
  padding: 12px 17px 15px 17px
  width: 96px

#updates div.two.columns h6
  color: white
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
  font-weight: 600

#updates div.two.columns time
  color: white
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12)
  font-size: 1.2rem
  margin-bottom: 5px
  display: block

#updates div.two.columns .button.nice
  color: #6f6f6f
  font-weight: 300
  font-size: 1.1rem
  border: solid 1px #999999
  padding: 3px 20px 4px

#updates article
  background: white
  border-top: none
  border-bottom: none
  margin-left: 0
  padding: 12px 17px 11px 2%

#updates article dl
  margin-bottom: 4px

#updates article dl dt
  font-weight: 600
  font-size: 1.4rem
  margin-bottom: 4px

#updates article a
  font-size: 1.1rem
  font-style: italic
  background: url('images/octocat.png?1309544325') 0 -1px no-repeat
  padding-left: 22px
  position: relative
  left: -2px

#updates aside
  background: white
  margin-left: 0
  padding: 12px 17px 13px 2%
  border: solid 0px #e0e0e0
  border-width: 0px 0px 0px 1px
  width: 219px

#updates aside > a
  background: url('images/icon-docs.png?1309564181') 0 4px no-repeat
  padding-left: 26px
  padding-top: 5px
  padding-bottom: 5px
  margin-bottom: 5px
  display: block

#updates aside > a + a
  background: url('images/icon-download.png?1309564203') 0 4px no-repeat
  margin-bottom: 0
  margin-right: 0

#valueProps
  margin-bottom: 50px

#valueProps p
  line-height: 21px
  font-size: 1.38rem

#valueProps #grid
  background: url('images/icon-grid.png?1309581016') 0 0 no-repeat
  padding-left: 38px
  padding-top: 2px

#valueProps #ui
  background: url('images/icon-ui.png?1309581127') 0 0 no-repeat
  padding-left: 38px
  padding-top: 2px

#valueProps #mobile
  background: url('images/icon-mobile.png?1309581151') 0 0 no-repeat
  padding-left: 38px
  padding-top: 2px

#logos
  border-top: solid 1px #e6e6e6
  border-bottom: solid 1px #e6e6e6
  padding-top: 20px
  padding-bottom: 10px
  margin-bottom: 60px

#logos h4
  color: #7b7b7b

#logos ul
  margin-top: 20px

#logos ul li
  width: 25%
  float: left
  margin-right: 0
  text-align: center

#logos ul li:last-child
  margin-right: 0

#logos ul li a
  display: block
  margin-bottom: 0
  line-height: 1




