.blog
  padding-top: 10px
  
  .post_links
    h4
      color: #333
      font-size: 40px
      border-bottom: 1px solid #e8e8e8
      

    .post_link
      border-bottom: 1px solid #eee
      margin-bottom: 5px
      padding-bottom: 5px
    a
      font-size: 18px
    p
      margin: 0px
      padding: 0px
      font-size: 12px
      line-height: 16px
    
  
  .post_list
    .frame
      padding: 20px
      margin-bottom: 40px
    h4
      font-size: 40px
      color: #00A5FF

.block-grid
  li
    .panel
      height: 90px
      h5
        color: #00A5FF