.case
  div.foundation-header
    margin: 0 0 40px 0
    padding: 30px 0 0 0
    border-bottom: solid 1px #ccc

  div.foundation-header h1
    margin-bottom: 0
    padding: 0

  div.foundation-header h1 a
    color: #181818

  div.foundation-header h1 a:hover
    color: #181818

  div.foundation-header .subheader
    margin-bottom: 9px

  div.highlight
    margin-bottom: 12px

  .jobs
    border: 1px solid #eee
    padding: 20px

  .jobs h5 
    font-weight: bold
    font-size: 15px
    margin-bottom: 10px

  .jobs-link
    font-size: 13px
    white-space: nowrap
    text-decoration: underline
    font-weight: inherit
    margin-bottom: 20px

    a 
      color: #555




